/* .show-left-arrow {
    float:right;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid #ffedd5;
    box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.4);
} */

.show-left-arrow {
  /* position: relative;
    margin: 3em;
    padding: 1em;
    box-sizing: border-box;
    background: #bada55;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4); */
}

.show-left-arrow::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 1em solid black;
  border-color: transparent transparent#fff7ed #fff7ed;
  transform-origin: 0 0;
  transform: rotate(45deg);
  /* box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4); */
  /* filter: drop-shadow(-3px 3px 3px 0) */
}

.triangle-left {
  width: 0;
  height: 0;
  /* float: right; */
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: 23px solid grey;
}

.inner-triangle {
  position: relative;
  top: -20px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
}
