/* .icon-container {
width: 50px;
height: 50px;
position: relative;
}

img {
height: 100%;
width: 100%;
border-radius: 50%;
} */
.profile-picture-status-container {
  position: relative;
  /* height:50px;
    width:50px */
}
.profile-picture-img {
  border-radius: 50%;
}

.status-circle {
  /* width: 15px; 
    height: 15px; */
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

.status-circle.active {
  background-color: lightgreen;
}
.status-circle.inactive {
  background-color: red;
}

/* 
#display-message-navbar-back {
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
  }
#display-message-navbar {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .display-message-navbar-right{
    display: flex;
    margin: 1px;
    padding: 5px;
    background: #aaa;
  } */

.avatar {
  width: 3vh;
  object-fit: cover;
  height: 3vh;
  position: relative;
  border-radius: 50%;
}
.avatar-sm {
  width: 2vh;
  object-fit: cover;
  height: 2vh;
  position: relative;
  border-radius: 50%;
}
