.profile-picture-status-container {
  position: relative;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-right: 0.1rem;
}
.profile-picture-img {
  border-radius: 50%;
}

.status-circle {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
}

.status-circle.active {
  background-color: lightgreen;
}
.status-circle.inactive {
  background-color: red;
}
.avatar {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
.avatar-sm {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
  border-radius: 50%;
}
