.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #transform-button {
  color: #ecf0f1;
  background: #e74c3c;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 1.5em;
  position: relative;
} */

#transform-button #transform-button-stick {
  position: absolute;
  transition: 300ms;
  background: gray;
  border-radius: 2px;
}

#transform-button #transform-button-stick:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

#transform-button #transform-button-stick:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

#ticket-creation-division:hover #transform-button-stick {
  transform: rotate(90deg);
}

#ticket-creation-division:hover #transform-button-stick:last-child {
  left: 50%;
  right: 50%;
}

#ticket-creation-division:hover #transform-button-stick{
  background:white;
}